<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--料件编号，key不可以更改，多个料件用英文分号;分割-->
    <add key="part_no" value="0055-UCB4-100R;0055-UCB4-200R"/>
    <!--品名规格，料件编号对应的品名规格，每个key对应一个料件编号-->
    <add key="0055-UCB4-100R" value="Type C 3.1 Female H=0.1(蛟龍5號）-TOP Contact"/>
    <add key="0055-UCB4-200R" value="Type C 3.1 Female H=0.1(蛟龍5號）-BTM Contact"/>
    <!--供应商，key不可以更改，多个请用英文分号;分隔-->
    <add key="supplier" value="S13660(富港)"/>
    <!--供应商在二维码中显示的值，每个key对应一个供应商-->
    <add key="S13660(富港)" value="S13660"/>
    <!--环保特性，key不可以更改，多个请用英文分号;分隔-->
    <add key="ep" value="ROHS;HF"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔-->
    <add key="supplier_pn" value="819M-1A12-1980;819M-1A12-2980"/>
    <add key="819M-1A12-1980" value="0055-UCB4-100R"/>
    <add key="819M-1A12-2980" value="0055-UCB4-200R"/>
    <add key="ep2" value="RoHS2.0;HF"/>
    <!--20201020隔隔隔隔隔隔隔隔隔隔20201020隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔隔20201020隔隔-->
    <add key="supplier20201020" value="S13660(富港)"/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
